*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url('../img/piano_bg.jpg');
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playkeys {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
}


.key {
  height: 300px;
  width: 300px;
  -webkit-transition-duration: 0.0s;
  transition-duration: 0.0s;
}

.white {
  --width: 300px;
  background-color: none;
  'border: 2px solid #333;'
  -webkit-transition-duration: 0.0s;
  transition-duration: 0.0s;
}

.white.active {
    -webkit-transition-duration: 0.0s;
    transition-duration: 0.0s;
}
