@font-face {
    font-family: 'pt serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(pt-serif.woff2) format('woff2')
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite
}

@keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media screen and (max-device-width:480px) {
    .nav {
        height: auto;
        text-align: center
    }
    .nav .pure-menu-list {
        float: none
    }
    li.pure-menu-item.download-nav-li.pure-menu-active {
        display: none
    }
    #feature {
        padding-top: 30px
    }
    .text-content {
        position: static
    }
    .addthis-smartlayers.fade-in {
        display: none
    }
}

@media(max-width:760px) {
    .nav {
        height: auto;
        text-align: center
    }
    .product-name {
        display: none
    }
    .nav .pure-menu-list {
        float: none
    }
    #feature {
        padding-top: 30px
    }
    .text-content {
        position: static
    }
    .addthis-smartlayers.fade-in {
        display: none
    }
}

a {
    cursor: pointer
}

a:hover {
    text-decoration: none
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden
}

.header {
    text-align: center;
    padding-bottom: 8em;
    background-color: #fbfbfb;
    z-index: 20;
    border-bottom: solid 1px #ddd
}

.header .content-resizer {
    padding-top: 70px
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}

.fullscreen {
    height: 600px;
    position: relative
}

.content-resizer {
    position: absolute;
    width: 100%;
    top: 200px;
    min-height: 200px
}

.slogon {
    font-family: raleway, century gothic, texgyreadventor, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #999;
    text-align: center
}

.slogon strong {
    color: #555;
    font-weight: bolder
}

.slogon a {
    cursor: test
}

.jump-down {
    margin-top: 4em;
    line-height: 2em;
    display: inline-block;
    width: 4em;
    cursor: pointer;
    color: #555
}

.header .menu {
    margin-top: 2em;
}

.menu-a {
    color: #555;
    padding: 10px;
    border: 1px solid #555
}

.header .menu-a {
    margin-left: 2em;
    margin-right: 2em;
}

li {
    display: block
}

#feature {
    left: 0;
    right: 0;
    background-color: #fff;
    padding-bottom: 100px
}

#contact a {
    color: #eee
}

section {
    background-color: #fff
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    padding-top: 15px;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.product-name {
    float: left;
    font-family: 'Century Gothic', 'TeXGyreAdventor'sans-serif;
    font-size: 2em;
    padding-left: 1em
}

.nav .pure-menu-list {
    float: right;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-right: 1em;
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#feature {
    padding-top: 200px;
    min-height: 500px
}

video {
    max-width: 560px;
    height: auto;
    width: 100%
}

#theme {
    padding-bottom: 80px;
    padding-top: 80px;
    height: 530px;
    overflow: hidden
}

#download {
    font-family: museo-slab, Georgia, times new roman, Times, serif;
    position: relative;
    background-color: #f6f6f6;
    color: #4d4d4d;
    text-align: center;
    overflow-y: hidden;
    font-size: 14px;
    margin-top: -20px;
    width: 100%
}

.sub-group input, .sub-group .button, #mc-embedded-subscribe {
    display: inline-block!important;
    margin: 10px;
    font-size: 18px;
    line-height: 1.6;
    padding: 14px 22px
}

.email-input {
    height: 24px;
    vertical-align: middle;
    width: 400px
}

.sub-group .button {
    color: #fff!important;
    background-color: #2a3333!important;
    border: 0;
    width: inherit!important
}

#function, #action {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 14px
}

#function .pure-menu-link {
    padding-left: .5em;
    padding-right: .5em;
    font-size: 16px
}

.img-rounded {
    border-radius: 6px
}

hr.divider {
    color: #ededed;
    border-top: 1px dashed #aaa
}

h3 {
    font-weight: lighter
}

.slider {
    position: relative;
    overflow: auto;
    width: 100%!important
}

.unslider-container li {
    list-style: none
}

.unslider-container li {
    float: left
}

.active>.pure-menu-link {
    background-color: #eee
}

.text-content {
    position: absolute;
    color: #888;
    font-family: century gothic, texgyreadventor, sans-serif
}

.text-content h3 {
    color: initial
}

.text-content h4 {
    color: #344048
}

.text-content .fa {
    width: 26px;
    text-align: center
}

#show-css-preview:hover {
    background-color: #eee
}

#show-css-preview~.theme-preview {
    margin-top: 60px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

#show-css-preview:hover~.theme-preview {
    margin-top: 500px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

.css-preview {
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle
}

#show-css-preview~.css-preview {
    top: 500px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

#show-css-preview:hover~.css-preview {
    top: 60px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

.addthis-smartlayers {
    display: none
}

.addthis-smartlayers.fade-in {
    display: block
}

.atss {
    top: calc(50% - 130px)
}

.slider .slogon {
    margin-top: -10px
}

#action img {
    vertical-align: text-top;
    margin-top: 40px
}

.feedback {
    position: relative;
    width: 360px;
    display: inline-block
}

.feedback textarea, .feedback input {
    border: 0;
    border-bottom: 1px #d2d2d2 solid;
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    background-color: transparent;
    width: 360px;
    position: relative;
    display: inline-block;
    resize: none;
    padding: 2px
}

.feedback textarea {
    margin-top: 60px;
    height: 30px
}

.feedback input {
    display: none;
    margin-top: 30px
}

.feedback textarea:focus, .feedback input:focus {
    outline: 0;
    border-bottom: 2px #fff solid;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.feedback.focused textarea, .feedback:focus textarea {
    box-shadow: none;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 120px
}

::-webkit-input-placeholder {
    color: #999
}

#send-update {
    display: none;
    border: 1px solid #fff;
    border-radius: 2px;
    width: 80px;
    margin-top: 20px;
    margin-right: -1px
}

.feedback.focused #send-update, .feedback.focused input {
    display: inline-block
}

.feedback.focused #feedback-error {
    display: none
}

#feedback-error {
    margin-right: 20px;
    display: inline-block;
    color: #b6475d
}

.feedback.focused #feedback-error:empty {
    display: inline-block;
    min-width: 194px;
    text-align: left;
    padding: 0
}

.patty:after, .patty:before {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    position: absolute;
    z-index: -1;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.patty:before {
    background: #333;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.patty:after {
    background: #333;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#twitter-widget-0 {
    margin-bottom: -6px;
    margin-right: 10px
}

.scroll-down-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #4d4d4d;
    cursor: pointer;
    height: 32px;
    font-size: 18px
}

.windows-screen-img {
    margin-top: 30px;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    display: block;
    cursor: default
}

.windows-screen-img img:hover {
    margin-top: 40px
}

.windows-screen-img img {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin-top: 80px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

@media(min-width:1370px) {
    .windows-screen-img img {
        max-width: 1000px
    }
}

@media screen and (min-width:48em) {
    #feature .pure-u-md-2-3, .pure-u-md-16-24 {
        width: 49%
    }
    #feature .pure-u-md-1-3, .pure-u-md-8-24 {
        width: 49%
    }
}

@media(max-width:760px) {
    #feature .pure-u-md-1-3 h3+* {
        display: none
    }
    #feature .text-content {
        left: 0!important;
        right: 0!important;
        max-width: initial!important;
        text-align: center
    }
}

.terminal-inner {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -340px;
    width: 680px;
    height: 240px;
    padding: 16px;
    background: #333;
    color: #eee;
    border-radius: 6px;
    overflow-x: auto;
    padding-top: 48px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .44)
}

.terminal-inner pre {
    margin-bottom: 8px;
    margin-top: 8px;
    min-height: 15px;
    overflow: visible
}

.cm-comment {
    color: grey
}

.cm-key {
    color: #ff9800
}

.cm-string {
    color: #8bc34a
}

.cm-name {
    color: #8bc34a
}

#hide-linux .patty:after, #hide-linux .patty:before {
    background: #fff
}

.linux-binary-download {
    position: fixed;
    text-align: center;
    top: -100px;
    top: calc(50% + 180px);
    width: 100%;
    font-size: 13px;
    color: #aaa
}

.instruction-link {
    position: fixed;
    text-align: center;
    bottom: 30px;
    width: 100%;
    font-size: 13px;
    color: #aaa
}

.linux-binary-download a, .linux-binary-download a:hover, .linux-binary-download a:visited, .linux-binary-download a:focus, .instruction-link a, .instruction-link a:hover, .instruction-link a:visited, .instruction-link a:focus {
    color: #ccc;
    text-decoration: underline
}

.unslider-container {
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    list-style-type: none;
    -webkit-padding-start: 0;
    margin: 0;
    padding: 0
}

.slider ul li {
    width: 100vw
}

.slider-img-wrapper {
    display: flex;
    flex-direction: row
}

.left-desc, .right-desc {
    flex: 1;
    position: relative
}

.left-desc>div, .right-desc>div {
    max-width: 160px;
    text-align: left
}

.right-desc .features-line .left-desc .features-line {
    position: absolute
}

@keyframes shadow-glow-blue {
    0% {
        box-shadow: 0 1px 10px #2e87e7;
        opacity: 1;
        transform: scale(.95, .95)
    }
    50% {
        box-shadow: none;
        opacity: .66;
        -webkit-transform: scale(1.2, 1.2)
    }
    100% {
        box-shadow: 0 1px 10px #2e87e7;
        opacity: 1;
        transform: scale(.95, .95)
    }
}

@-webkit-keyframes shadow-glow-blue {
    0% {
        box-shadow: 0 1px 10px #2e87e7;
        opacity: 1;
        transform: scale(.95, .95)
    }
    50% {
        box-shadow: none;
        opacity: .66;
        -webkit-transform: scale(1.2, 1.2)
    }
    100% {
        box-shadow: 0 1px 10px #2e87e7;
        opacity: 1;
        transform: scale(.95, .95)
    }
}

@-moz-keyframes shadow-glow-blue {
    0% {
        box-shadow: 0 1px 10px #2e87e7;
        opacity: 1;
        transform: scale(.95, .95)
    }
    50% {
        box-shadow: none;
        opacity: .66;
        -webkit-transform: scale(1.2, 1.2)
    }
    100% {
        box-shadow: 0 1px 10px #2e87e7;
        opacity: 1;
        transform: scale(.95, .95)
    }
}

@-webkit-keyframes animBlock {
    0% {
        display: none;
        opacity: 0
    }
    1% {
        display: block;
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes animBlock {
    0% {
        display: none;
        opacity: 0
    }
    1% {
        display: block;
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes animBlock {
    0% {
        opacity: 0
    }
    1% {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.features-line {
    height: 1px;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 15px;
    margin-left: -10px
}

.hotspot-desc-title, .hotspot-desc-content {
    display: none;
    opacity: 0
}

.desc-wrapper {
    position: absolute
}

.desc-wrapper:not(.active) .features-line {
    width: 0!important
}

.desc-wrapper.active .hotspot-desc-title, .desc-wrapper.active .hotspot-desc-content {
    display: block;
    opacity: 1;
    -moz-animation: animBlock .15s;
    -webkit-animation: animBlock .15s;
    animation: animBlock .15s
}

.features-line:before {
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #353a3d;
    background: #344048;
    -webkit-animation: shadow-glow-blue 2s ease-in-out infinite;
    -moz-animation: shadow-glow-blue 2s ease-in-out infinite;
    animation: shadow-glow-blue 2s ease-in-out infinite;
    cursor: pointer;
    top: -6px
}

.left-desc .features-line:before {
    right: 0
}

.left-desc>div {
    right: 0
}

.hotspot-desc-title {
    color: #546673;
    font-size: 16px;
    line-height: 28px;
    min-width: 120px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px
}

.hotspot-desc-content {
    font-size: 12px;
    line-height: 1.45em;
    color: #888
}

.hotspot-desc-content a {
    color: #888;
    position: relative;
    display: inline-block;
    text-decoration: underline
}

.hotspot-desc-content a.icon {
    top: 2px;
    text-decoration: none
}

.shadow {
    width: 36px;
    height: 141px;
    position: absolute;
    top: 32px;
    right: 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1)
}

.feature-box {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 16px;
    text-align: left;
    vertical-align: top;
    margin-top: 64px
}

.feature-box-title {
    color: #546673;
    font-size: 16px;
    line-height: 36px;
    min-width: 120px;
    text-align: left
}

.feature-box-img {
    width: 300px;
    height: 100px
}

.feature-box-img img {
    width: 100%;
    height: 100%;
    margin-top: 0!important
}

.feature-box-desc {
    font-size: 12px;
    line-height: 1.45em;
    color: #888
}

#likes {
    background-color: #42444b;
    height: 400px;
    position: relative;
    background-position: center;
    background-size: cover
}

#likes.done {
    background-image: url(/img/new/user-bg.jpg)
}

#likes a {
    color: inherit
}

.like-card-slide li {
    height: 400px
}

.like-card {
    margin: 0 auto;
    max-width: 996px;
    color: #fff; //color:#b58d80;padding-left:24px;padding-right:24px}.like-card-slide{margin:auto;height:100%}.done .like-card-slide{background-color:rgba(66,68,75,.88)}.like-sentense{color:inherit;font-size:28px;padding:0;-webkit-font-smoothing:antialiased;line-height:1.3em;font-family:'pt serif',crimson text,lora,serif;margin-left:48px}.like-card-inner{height:auto;vertical-align:middle;display:inline-block;width:calc(100% - 120px);text-align:left}.quote-img{width:48px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}.icon-arrow-left{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}.like-user{margin-top:24px;font-size:18px;margin-left:48px}.avatar{width:36px;height:36px;border-radius:50%;-moz-force-broken-image-icon:1;vertical-align:middle;margin-right:8px;margin-left:8px}svg{stroke:currentColor;fill:currentColor}.next-user-card{background:0 0;border:0;color:inherit;top:170px;right:32px;height:360px;width:100px;display:inline-block;cursor:pointer}button:active,button:focus{outline:0}#likes .dot{opacity:0;-webkit-transition:opacity .5s ease-out;-moz-transition:opacity .5s ease-out;transition:opacity .5s ease-out}#likes .dot.active{opacity:1;-webkit-transition:opacity .5s ease-out;-moz-transition:opacity .5s ease-out;transition:opacity .2s ease-in}@-webkit-keyframes pulse{0%,to{-ms-filter:"alpha(opacity=40)";filter:alpha(opacity=40);opacity:.4;top:0}50%{-ms-filter:none;-webkit-filter:none;filter:none;opacity:1;top:-10px}}@keyframes pulse{0%,to{-ms-filter:"alpha(opacity=40)";filter:alpha(opacity=40);opacity:.4;top:0}50%{-ms-filter:none;-webkit-filter:none;filter:none;opacity:1;top:-16px}}