@font-face{
font-family:'iconfont';
/*projectid2191736*/
src:url('//at.alicdn.com/t/font_2191736_z7l6hxqypoo.eot');
src:url('//at.alicdn.com/t/font_2191736_z7l6hxqypoo.eot?#iefix')format('embedded-opentype'),url('//at.alicdn.com/t/font_2191736_z7l6hxqypoo.woff2')format('woff2'),url('//at.alicdn.com/t/font_2191736_z7l6hxqypoo.woff')format('woff'),url('//at.alicdn.com/t/font_2191736_z7l6hxqypoo.ttf')format('truetype'),url('//at.alicdn.com/t/font_2191736_z7l6hxqypoo.svg#iconfont')format('svg');
}

.iconfont{
font-family:"iconfont"!important;
font-size:20px;
font-style:normal;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.iconfont_fixed{
font-family:"iconfont"!important;
font-size:larger;
font-style:normal;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.icon-prev:before{
content:"\ea01";
}

.icon-play:before{
content:"\ea02";
}

.icon-pause:before{
content:"\ea03";
}

.icon-next:before{
content:"\ea04";
}

.icon-single:before{
content:"\eb01";
}

.icon-loop:before{
content:"\eb02";
}

.icon-random:before{
content:"\eb03";
}

.icon-volume:before{
content:"\ec01";
}

.icon-muted:before{
content:"\ec02";
}


/*4*/

.icon-show-hide-songlist:before{
content:"\ed01";
}